/*start dashboard*/

.grafici {
  margin: 50px;
  padding: 15px;
  display: flex;
  width: 100vw;
  background-color: white;
  border: solid, 3px, #9d0a0e;
  border-radius: 10px;
  box-shadow: #9d0a0e 0px 5px 15px;
}
.prova1 {
  display: flex;
  gap: 40px;
}
.dashBoard-all {
  display: flex;
}
.dashBoard {
  background-image: url(assets/footer-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.button-container {
  display: flex;
  background-color: black;
  width: 70px;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: #9d0a0e 0px 5px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
/*end dashboard*/

.login {
  background-image: url(assets/footer-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/*Start Choose Form*/

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 50px;
  width: 350px;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 2px 2px 15px #9d0a0e;
  padding: 20px;
}

.instruction-text {
  color: #0f0e0e;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.login-card button {
  cursor: pointer;
}

.normal-signin {
  padding: 10px;
  font-size: 17px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 5em;
  background-color: #9d0a0e;
  color: #f2f2f2;
  font-weight: bold;
  transition: 0.2s;
}

.normal-signin:hover {
  background-color: transparent;
  color: #9d0a0e;
  border: 2px solid #9d0a0e;
}

.create-account {
  padding: 10px;
  font-size: 17px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 5em;
  background-color: #dedede;
  color: #9d0a0e;
  font-weight: bold;
  transition: 0.2s;
}

.create-account:hover {
  background-color: transparent;
  color: #9d0a0e;
  border: 2px solid #9d0a0e;
}

/*End Choose Form*/

/*Start Form Register Style*/
.form-container-register {
  width: 350px;
  background-color: #fff;
  box-shadow: #9d0a0e 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*End Form Register Style*/

/*Start Form Login Style*/
.form-container {
  width: 350px;
  background-color: #fff;
  box-shadow: #9d0a0e 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 28px;
  --decor-line-color: linear-gradient(
    90deg,
    rgba(157, 10, 14, 0),
    #9d0a0e,
    #9d0a0e,
    rgba(157, 10, 14, 0)
  );
  width: 80%;
  position: relative;
  padding: 10px 0;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--decor-line-color);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #9d0a0e;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;

  border-radius: 20px;
  border-color: #9d0a0e;
  outline: 0 !important;
  background: #9d0a0e;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}

.form-btn:active {
  border-color: #9d0a0e;
  box-shadow: none;
}
.form-btn:hover {
  background-color: transparent;
  color: #9d0a0e;
  border: 2px solid #9d0a0e;
}

.sign-up-label {
  margin: 0;
  font-size: 20px;
  color: #242323;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

/*End Form Login Style*/
/* start Carrello Style */
.carrello-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#carrello-vuoto {
  margin-bottom: 50px;
  font-size: 20px;
}
.carrelloNavbar {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.carrello-item {
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 150px;
  max-height: 400px;
  text-align: center;
}

.shopcart {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(assets/footer-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-shopcart {
  display: flex;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #9d0a0e;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 250px;
}

.inner-shopcart img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
/* End Carrello Style */
/* .login2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid rgb(131, 120, 120);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  gap: 20px;
}
.form-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
} */

@font-face {
  font-family: "CustomFont";
  src: url("src/font/cronache.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
.navigazione-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

/* Contenitore del carosello */
/*  */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 50px;
  flex-wrap: nowrap;
}
/* Singola card */
.carousel-item {
  flex: 0 0 calc(25%); /* Ogni card occupa un terzo dello spazio con margini */
  font-size: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  aspect-ratio: 4 / 3; /* Mantieni le proporzioni (larghezza/altezza) */
}

.bestiario {
  font-size: 40px;
  text-align: center;
  --header-color: var(--white);
  --decor-line-color: linear-gradient(
    90deg,
    rgba(157, 10, 14, 0),
    #9d0a0e,
    #9d0a0e,
    rgba(157, 10, 14, 0)
  );
  --decor-line-width: 22px;
  --decor-line-height: 2px;
  --decor-line-verticle-offset: 10px;
  position: relative;
  padding: 10px 0;
}
.bestiario::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--decor-line-color);
}

.carousel-item:hover {
  transform: scale(1.05); /* Effetto di ingrandimento su hover */
}

/* Immagini dentro la card */
.carousel-item img {
  width: 100%; /* L'immagine occupa tutta la larghezza della card */
  min-width: 87px;
  min-height: 87px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

/* Pulsanti del carosello */
.carousel-controls {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

#prev,
#next {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}
:hover #prev #next {
  background-color: #0056b3;
}
.menu-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: aliceblue;
  color: black;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
  border: #9d0a0e 3px solid;
}
.menu-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.menu-dropdown a:hover {
  background-color: #ddd;
}

.menu-dropdown3 {
  max-height: 300px;
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: aliceblue;
  color: black;
  max-width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
  border: #9d0a0e 3px solid;
  padding: 10px;
  overflow: scroll;
}
.menu-dropdown3 img {
  width: 70px;
}
.menu-dropdown3 p {
  color: black;
  font-size: 13px;
}
#acq-carrello {
  margin-top: 10px;
  background-color: #0f0f0f;
  border-radius: 10px;
  border: solid #9d0a0e 2px;
  color: aliceblue;
  width: 100%;
}
.navigazione-container:hover .menu-dropdown {
  display: block;
}

.accedi-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.dashBoardLogo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.dashBoardSvg {
  margin-left: 10px;
}

.accedi-container:hover,
.accedi-container:focus-within {
  display: block;
}

body {
  font-family: "CustomFont";
  margin: 0;
}
header {
  display: flex;
  background-image: url(assets/bg-navbar.jpeg);
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 5px #9d0a0e;
  width: 100%;
  z-index: 1;
}
header p {
  color: aliceblue;
  margin: 0;
}
.logo-navbar {
  display: flex;
  padding: 15px;
}
.titolo-navbar {
  color: aliceblue;
  font-size: 40px;
  margin: 0;
  padding-top: 8px;
}

.loghi {
  display: flex;
  gap: 60px;
  padding: 15px;
}
/**/
.hero-container {
  background-image: url(assets/bg-navbar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(assets/hero-img-cut.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.titolo-hero {
  --header-color: var(--white);
  --decor-line-color: linear-gradient(
    90deg,
    rgba(157, 10, 14, 0),
    #9d0a0e,
    #9d0a0e,
    rgba(157, 10, 14, 0)
  );
  --decor-line-width: 22px;
  --decor-line-height: 2px;
  --decor-line-verticle-offset: 10px;
  position: relative;
  padding: 10px 0;
}

.titolo-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--decor-line-color);
}
.hero-descrizione {
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 40%;
  gap: 10px;
  flex-grow: 1;
  padding-right: 50px;
}

.hero-descrizione h1 {
  margin: 0;
  padding-top: 50px;
}
.hero-descrizione p {
  font-size: 25px;
  margin: 0;
}
.centro {
  display: flex;
  justify-content: center;
}
.corpo {
  background-color: #f1f1f1;
}
.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 50px;
}

.gioco {
  background-image: url(assets/descrizione-gioco.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: #9d0a0e solid 5px;
  border-radius: 10px;
  /* height: 500px; */
  margin-top: 20px;
  padding: 35px;
}

.gioco > p {
  padding: 35px;
  color: aliceblue;
  font-size: 30px;
  -webkit-text-stroke: 1px rgb(174, 172, 172);
}

.negozio-accessori {
  background-image: url(assets/negozio-gadget.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border: rgb(90, 66, 7) solid 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

footer {
  background-image: url(assets/footer-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 25px;
  border-top: solid 5px #9d0a0e;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.lista-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
}
.svg {
  margin-top: 50px;
}
.container-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  --header-color: var(--white);
  --decor-line-color: linear-gradient(
    90deg,
    rgba(157, 10, 14, 0),
    #9d0a0e,
    #9d0a0e,
    rgba(157, 10, 14, 0)
  );
  --decor-line-width: 22px;
  --decor-line-height: 2px;
  --decor-line-verticle-offset: 10px;

  position: relative;
  font-size: 20px;
  padding: 10px 0;
}
.copyright::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--decor-line-color);
}
.container-contatti {
  display: flex;
  gap: 20px;
}
.veliero {
  background-color: #dfcbb2;
  border-radius: 5000px;
  height: 100px;
  width: 100px;
}
.logo-gioco-footer {
  height: 72px;
  width: 70px;
  padding: 15px;
}
.loghi-immagini {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 50px;
}
.lingua {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.lingue {
  background-color: rgb(24, 23, 23);
  color: aliceblue;
  height: 30px;
  width: 300px;
}
.input-lingua {
  margin-top: 50px;
}
.logo-dado {
  height: 100px;
  width: 100px;
}

.cnt {
  --header-color: var(--white);
  --decor-line-color: linear-gradient(
    90deg,
    rgba(157, 10, 14, 0),
    #9d0a0e,
    #9d0a0e,
    rgba(157, 10, 14, 0)
  );
  --decor-line-width: 22px;
  --decor-line-height: 2px;
  --decor-line-verticle-offset: 10px;
  text-align: center;
  position: relative;
  font-size: 25px;
  padding: 10px 0;
}
.cnt {
  margin: 20px;
}
.cnt::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--decor-line-color);
}

.cont-all {
  display: flex;
  flex-direction: row;
  /* gap: 100px; */
  font-size: 25px;
}

.card-footer {
  min-width: 150px;
  max-width: 300px;
  color: aliceblue;
  background-color: rgba(83, 83, 83, 0.281);
  border-radius: 15px;
  border: solid 3px #9d0a0e;
  display: flex;
}
.gallery-image {
  min-width: 100px;
  max-width: 250px;
}
.btn-close {
  color: #9d0a0e;
  background-color: #9d0a0f00;
  border: #9d0a0f00;
  font-size: 30px;
}
.gallery {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}
.output-artwork {
  justify-content: center;
}
#aboutus {
  width: 300px;
  height: 300px;
}
#api {
  width: 300px;
  height: 300px;
}
#artwork {
  width: 300px;
  height: 300px;
}
#licenza {
  width: 300px;
  height: 300px;
}

.monster {
  border: solid 3px red;
  width: 250px;
  min-width: 200px;
}
.monster > img {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 50px;
}
.card > img {
  width: 100%;
  height: 100%;
}
.card {
  min-width: 150px;
  min-height: 450px;
  max-width: 300px;
  flex: 0 0 calc(25%); /* Ogni card occupa un terzo dello spazio con margini */
  margin-bottom: 20px;
  font-size: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  align-items: center;
}
.card img {
  max-width: fit-content;
  aspect-ratio: 1/1;
  max-width: 340px;
}
.card:hover {
  transform: scale(1.05); /* Effetto di ingrandimento su hover */
}
.hero-descrizione-2,
.titolo-hero-2 {
  display: none;
}

@media (max-width: 1200px) {
  .hero-descrizione {
    font-size: 20px;
    padding: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 100%;
    gap: 10px;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
  }
  .hero-descrizione p {
    padding: 50px;
  }
  .hero-descrizione h1 {
    padding: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .hero-descrizione-2 {
    display: block;
  }
  .titolo-hero-2,
  .descrizione-hero-2 {
    background-image: url(assets/bg-navbar.jpeg);
    color: aliceblue;
    margin: 0;
    padding: 10px;
    display: block;
    font-size: 25px;
  }
  .titolo-hero-2 {
    font-size: 40px;
    --header-color: var(--white);
    --decor-line-color: linear-gradient(
      90deg,
      rgba(157, 10, 14, 0),
      #9d0a0e,
      #9d0a0e,
      rgba(157, 10, 14, 0)
    );
    --decor-line-width: 22px;
    --decor-line-height: 2px;
    --decor-line-verticle-offset: 10px;
    position: relative;
  }

  .titolo-hero-2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--decor-line-color);
  }

  .descrizione-hero-2 {
    border-bottom: 5px solid #9d0a0e;
  }
  .hero-descrizione,
  .titolo-hero {
    display: none;
  }
  .hero-container {
    height: 300px;

    border-bottom: #9d0a0e solid 3px;
  }
  .hero {
    height: 300px;
  }
}
@media (max-width: 750px) {
  .container-link {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
  }
  .lista-footer {
    padding: 0;
  }
}
@media (max-width: 727px) {
  .corpo {
    margin-top: 149px;
  }
}
@media (max-width: 565px) {
  .corpo {
    margin-top: 202px;
  }
}
@media (max-width: 530px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 515px) {
  .hero-container {
    height: 200px;
  }
  .hero {
    height: 200px;
  }
}

@media (max-width: 445px) {
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    gap: 15px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
  .carousel-item {
    flex: 0 0 calc(25%); /* Ogni card occupa un terzo dello spazio con margini */
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    aspect-ratio: 0/0;
  }
}
@media (max-width: 426px) {
  .corpo {
    margin-top: 257px;
  }
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
